label {
  width: 100%;
  height: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x) var(--bs-dropdown-item-padding-y) 2.25rem;
}

.dropdown-item {
  padding: 0 !important;
}