:host {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 3px;
  //background-color: var(--c-bg-2);
  overflow: hidden;
  z-index: 1010;

  &.visible {
    display: block;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--c-primary);
    animation: indeterminateAnimation 2s infinite linear;
    transform-origin: 0% 50%;
  }
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
