:host {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: visible;
}

.toast-container {
  overflow: visible;
  //position: absolute;
  //bottom: 20%;
  //right: 20%;
  //width: 100%;
  //height: auto;
}