@import '../../../../sass/mixins';

.page-link {
  @include disable-selection;
  padding-left: .6rem;
  padding-right: .6rem;

  &:not(.pagination-sep) {
    cursor: pointer;
  }
}

.pagination {
  margin-bottom: 0;
}