:host {
  z-index: 1111;

  &.show {
    display: block;
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c-bg-4);
    opacity: 50%;
    z-index: -1;
  }
}
