@import '../../../../sass/theme/common';

:host {
  cursor: pointer;
}

i {
  width: 24px;
  margin-right: 1rem;
  font-size: 1.4rem;
}

.nav-image {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

i, .nav-image {
  margin-right: 1rem;
}

.nav-item {
  color: var(--c-text);
  transition: background-color .05s ease;

  &.active {
    background-color: var(--c-bg-2);
  }

  &:hover {
    background-color: var(--c-primary);
  }
}

.nav-group-header {
  min-height: 42px;
  padding: .5rem 1rem;
  background-color: transparent;
  color: var(--c-text);
  border-bottom-color: transparent;

  &:not(.inverse) {
    //margin-top: .5rem;
  }

  &.inverse:after {
    transform: rotateZ(0deg);
  }

  &.inverse.collapsed:after {
    transform: rotateZ(180deg);
  }
}

.nav-link {
  vertical-align: middle;
  line-height: 27px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.nav-group .nav-link {
  padding: .5rem 0 .5rem 2rem;
}
