<button class="sidebar-toggle-btn" (click)="toggleCollapsed()">
  <i class="las la-bars"></i>
</button>

<div class="sidebar-wrapper">
  <div class="sidebar-content">
    <div href="/" class="sidebar-header">
      <img class="logo-image" src="/assets/logo-dark.png" alt=""/>
      <span class="fs-4">NetHub CMS</span>
    </div>

    <hr/>

    <ul app-navigation class="sidebar-main">
      <li app-nav-item *ngFor="let item of menuItems" [item]="item"></li>
    </ul>

    <hr/>

    <div class="sidebar-footer">
      <ul app-navigation class="sidebar-main">
        <li app-nav-item [item]="footerMenu" [inverse]="true"></li>
      </ul>
      <!--  <div class="sidebar-version">version – {{settings.applicationVersion}}</div>-->
    </div>
  </div>
</div>
