<div class="row mb-3 form-grp">
  <label *ngIf="label" [for]="controlName" class="col-sm-4 col-form-label">
    {{label}}<sup *ngIf="required" class="required-mark">*</sup>
  </label>
  <div class="col-sm-8 input-wrapper">
    <input #input
           [formControl]="formControl"
           [id]="controlName"
           [type]="showText ? 'text' : 'password'"
           class="form-control right-padding"
           (input)="onChange($event)"
           (focusin)="focused = true"
           (focusout)="focused = false"/>
    <button class="input-mark" (click)="showText = !showText">
      <i class="las"
         [class.la-eye]="showText"
         [class.la-eye-slash]="!showText"></i>
    </button>
  </div>

  <app-field-message
    [text]="errors.required"
    [show]="!focused && formControl.touched && formControl.hasError('required')"
    [error]="true">
  </app-field-message>

  <app-field-message
    [text]="formControl.getError('api-error')"
    [show]="formControl.hasError('api-error')"
    [error]="true">
  </app-field-message>
</div>
