@import '../../../../sass/theme/common';

.dropdown-menu {
  padding: 0;
  margin: -2px 0 !important;

  &[data-popper-placement="top-start"] {
    margin-bottom: 14px !important;
  }
}

.dropdown-button {
  padding: .25rem .5rem .25rem .9rem;

  &:after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 100%;
    float: right;
    background-image: #{$arrow-down-icon};
    background-position: center;
    background-repeat: no-repeat;
  }
}

.dropdown-item {
  padding: .25rem 1rem .25rem .9rem;
}

.dropdown-button, .dropdown-item {
  height: 2rem;
  text-align: left;
}

.dropdown-menu {
  width: auto;
  min-width: auto;
  cursor: pointer;
}

.dropdown-button-icon {
  font-size: 1.15rem;
  margin-right: .2rem;
  vertical-align: baseline;
}

.dropdown-button-text {
  padding-right: 0.6rem;
  vertical-align: text-bottom;
}

:host.form-fit {
  display: block;

  > * {
    width: 100%;
  }

  .dropdown-button {
    background-color: #33363a;
    border-color: var(--c-bg-1);
    font-size: 1rem;
    vertical-align: baseline;
    font-weight: lighter;
    //border: none;

    &.disabled {
      color: var(--c-text);
      background-color: var(--c-bg-1);
      opacity: 100%;
    }
  }

  .dropdown-button, .dropdown-item {
    height: 2.3835rem;
    padding-top: .4rem;
  }

  .dropdown-button-text {
    vertical-align: inherit;
  }
}