<nc-main-header pageTitle="Article Localization: {{model.status}}">
  <button ncButton
          [icon]="locked ? 'la-lock' : 'la-unlock'"
          variant="secondary"
          (onclick)="locked = !locked">
    {{locked ? 'Locked' : 'Unlocked'}}
  </button>
  <button ncButton
          icon="la-ban"
          variant="danger"
          [disabled]="locked"
          (onclick)="articleService.delete(model.id)">
    Delete
  </button>
  <button ncButton
          icon="la-save"
          variant="success"
          [disabled]="locked"
          (onclick)="submit()">
    Save
  </button>
</nc-main-header>

<nc-main-content>
  <form nc-form-layout
        [formGroup]="articleService.form"
        [ready]="articleService.ready">

    <nc-fieldset size="small">
      <nc-number-field label="ID"
                        controlName="id"
                        [disabled]="locked"
                        [allowCopy]="true"></nc-number-field>
      <nc-text-field label="Language Code"
                      controlName="languageCode"
                      [disabled]="locked"
                      [allowCopy]="true"></nc-text-field>
      <nc-date-field label="Created At"
                      controlName="created"
                      format="date-range"
                      [disabled]="locked"></nc-date-field>

    </nc-fieldset>
    <hr />
    <nc-fieldset size="small">

      <nc-text-field label="Views"
                      controlName="views"
                      [disabled]="locked"></nc-text-field>
      <nc-text-field label="Rating"
                      controlName="rate"
                      [disabled]="locked"></nc-text-field>
    </nc-fieldset>
    <hr />
    <nc-fieldset size="large">
      <nc-text-area-field label="Title"
                           controlName="title"
                           size="small"
                           [disabled]="locked"></nc-text-area-field>
    </nc-fieldset>

  </form>
</nc-main-content>
