<main>
  <!--<img src="https://github.com/jurilents.png" alt="Photo"/>-->
  <div nc-form-layout class="login-form" [formGroup]="form">
    <div class="login-header">
      <img class="logo-image" src="/assets/logo-dark.png" alt=""/>
      <h2>NetHub Login</h2>
    </div>

    <div class="login-body">
      <nc-text-field
        label="Login"
        controlName="login"
        type="text"
        autocomplete="true">
      </nc-text-field>

      <nc-text-field
        label="Password"
        controlName="password"
        type="password"
        autocomplete="true">
      </nc-text-field>

      <button nc-icon-button class="submit-button" variant="primary" (click)="submit()">
        Login
      </button>
    </div>

    <div class="login-footer">
      <!--      <div class="error-block">Login or Password is invalid.</div>-->
      <div class="error-block">Your IP has been blocked. <br/> Contact other admins to unblock access for your IP.</div>
      <!--      <div class="error-block">You have only one login attempt left before your IP is blocked.</div>-->
    </div>

  </div>
</main>
