<nc-main-content>
  <nc-split storageKey="articles">
    <div *ncSplitOne>
      <nc-main-header pageTitle="Articles">
        <button ncButton
                icon="la-filter"
                variant="secondary"
                [disabled]="hideTable || table.loading"
                (click)="showFilters = !showFilters"></button>
        <button ncButton
                icon="la-sync"
                variant="primary"
                [disabled]="hideTable || table.loading"
                (click)="table.loadData()">
          Refresh
        </button>
        <!--<button ncButton-->
        <!--        icon="la-download"-->
        <!--        variant="primary"-->
        <!--        [disabled]="table.loading"-->
        <!--        (click)="downloadJson()">-->
        <!--  JSON-->
        <!--</button>-->
      </nc-main-header>
      <nc-data-table #table
                     *ngIf="!hideTable"
                     defaultSorting="-id"
                     [columns]="columns"
                     [columnChooser]="true"
                     [showFilters]="showFilters"
                     columnChooserSequence="articles"
                     [onFilter]="fetchFilter.bind(this)">

        <!--<ng-container *appCustomColumn="'flag'; value as val; object as obj">-->
        <!--  <button class="btn btn-secondary neutral flag-button general-button"-->
        <!--          (click)="onDetailsClick(obj)">-->
        <!--    <span class="text">Edit</span>-->
        <!--    <span style="background-image: url({{flagService.flags[obj.languageCode]}})"-->
        <!--          class="flag-img"></span>-->
        <!--  </button>-->
        <!--</ng-container>-->

        <ng-container *ncColumnTemplate="'article_edit'; value as val; object as obj">
          <button class="btn btn-secondary neutral general-button"
                  (click)="onArticleDetails(obj)">
            <span class="text">Edit</span>
          </button>
        </ng-container>

        <ng-container *ncColumnTemplate="'article_languageCode'; value as val; object as obj">
          <button class="btn neutral flag-button disabled"
                  disabled>
            <span class="text">{{obj.languageCode?.toUpperCase()}}</span>
          </button>
        </ng-container>

        <ng-container *ncColumnTemplate="'article_status'; value as val; object as obj">
          <span class="check check-{{val.toLowerCase()}}">{{val}}</span>
        </ng-container>

      </nc-data-table>
    </div>
    <div *ncSplitTwo>
      <nc-tabs>
        <!--<ng-container *ncTabTemplate="'article'; let data">-->
        <ng-container *ncTabTemplate="let data">
          <app-article-form [model]="data"></app-article-form>
        </ng-container>
      </nc-tabs>
    </div>
  </nc-split>

  <!--  <as-split class="split-view"-->
  <!--            unit="percent"-->
  <!--            direction="vertical"-->
  <!--            [gutterSize]="4"-->
  <!--            (dragEnd)="resize($event.sizes)">-->

  <!--    <div as-split-area [size]="sizes[0]">-->
  <!--      <div class="split-area-content">-->
  <!--      </div>-->

  <!--    </div>-->

  <!--    <div as-split-area [size]="sizes[1]">-->
  <!--      <div class="split-area-content">-->
  <!--       -->
  <!--        &lt;!&ndash;<ng-template let-data="data"&ndash;&gt;-->
  <!--        &lt;!&ndash;             #localizationForm>&ndash;&gt;-->
  <!--        &lt;!&ndash;  <app-article-form [model]="data"></app-article-form>&ndash;&gt;-->
  <!--        &lt;!&ndash;</ng-template>&ndash;&gt;-->
  <!--      </div>-->
  <!--    </div>-->

  <!--  </as-split>-->
  <!--</nc-main-content>-->
